@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Fascinate&family=Raleway&display=swap');

$button-color: rgba(235, 171, 162, 0.76);
$button-text: rgb(75, 75, 75);
$accent-color: rgb(196, 151, 146);
$background-color: #edededc7;
$modal-color: #edededea;
$font-family: 'Raleway', sans-serif;

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url(MainImage.jpg);
  background-size: 600px;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}
// Header for App
.AppName {
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  height: 30px;
  font-family: 'Fascinate', cursive;
  color: rgb(97, 96, 96);
  text-shadow: 1px 1px rgb(241, 214, 210);
  text-decoration: none;
}

// Body Description for Home
.Intro {
  text-align: center;
  margin: 200px 30px;
  background-color: $background-color;
}

nav {
  display: block;
  position: relative;
  top: -25px;
  left: 10px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}
header nav li {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
  font-family: 'Raleway', sans-serif;
}
nav li:hover {
  color: rgb(196, 151, 146);
}

nav input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

nav span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  margin-left: 13px;

  background: rgb(196, 151, 146);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

nav span:first-child {
  transform-origin: 0% 0%;
}

nav span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
nav input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(196, 151, 146);
}

/*
 * But let's hide the middle one.
 */
nav input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
nav input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
header ul {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed00;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header ul li {
  padding: 10px 0;
  font-size: 22px;
  background-color: #ededede8;
}

/*
 * And let's slide it in from the left
 */
nav input:checked ~ ul {
  transform: none;
}

header {
  display: block;
  position: sticky;
  top: 10px;
  z-index: 1;
}

// Body For Random
input {
  margin: 5px;
  width: 130px;
  text-align: center;
  background-color: $background-color;
  margin-top: 20px;
}

aside {
  text-align: center;
  margin: 0px auto;
  select {
    background-color: $background-color;
  }
}

button.Random {
  border-radius: 50%;
  background-color: $button-color;
  color: rgb(75, 75, 75);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

section.RandomRest {
  text-align: center;
  background-color: $background-color;
  p,
  address {
    font-size: 15px;
  }
}

footer {
  text-align: center;
}

h2 {
  font-size: 25px;
}

.RandomRest a h2 {
  text-decoration: underline;
  color: rgb(2, 2, 100);
}

.RandomRest p.allCheck {
  margin: 0px auto;
  input {
    width: 20px;
  }
}

// Stars
.stars {
  --rating: 0;
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  margin-right: 20px;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    $accent-color var(--percent),
    $button-text var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Body for Restaurants
.Restaurants ul {
  padding: 0px;
}

.Restaurants li {
  border-top: thin solid rgba(235, 171, 162, 0.568);
  margin-top: 15px;
  text-align: center;
  list-style: none;
  background-color: #edededc7;
}

.Restaurants a h2 {
  text-decoration: underline;
  color: rgb(2, 2, 100);
}

div.Search {
  text-align: center;
  padding: 5px;
}

div.Restaurants button {
  border-radius: 50%;
  background-color: $button-color;
  color: $button-text;
  padding: 10px;
}

ul.results button.editButton {
  margin-left: 10px;
}

select {
  color: $button-text;
  font-family: $font-family;
  margin: 10px;
  padding: 5px;
}
div.searchDrop {
  text-align: center;
}

.Restaurants p.allCheck {
  margin: 0px auto;
  input {
    width: 20px;
  }
}

// Updating Page

.updatePage {
  text-align: center;
  background-color: $background-color;
  color: $button-text;
  width: fit-content;
  margin: 0px auto;

  textarea {
    background-color: $background-color;
    padding: 15px;
    color: $button-text;
  }
  input {
    margin: 10px;
  }
  button {
    border-radius: 50%;
    background-color: $button-color;
    color: $button-text;
    padding: 15px;
    margin-top: 15px;
  }

  .message {
    text-decoration: underline;
  }
}
.updateForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

// Creating white space for a scroll on large view
div.Restaurants {
  max-height: rem;
  overflow-y: scroll;
  position: relative;
}

// New Restaurant Page
form.NewRest {
  background-color: #edededab;
  width: fit-content;
  margin: 0px auto;
  color: rgb(85, 84, 84);

  textarea {
    background-color: #edededb6;
  }

  section,
  h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  label {
    color: $button-text;
    font-family: $font-family;
  }
  input {
    font-family: $font-family;
  }
}

form.NewRest .TextField input,
textarea {
  position: relative;
  padding: 0.25em 0.5em;
  margin: 5px;
  width: 20rem;
  text-align: center;
  font-size: 1.1rem;
}

section.Checked input {
  align-items: center;
  margin-top: 0px;
}

section.Checked label {
  font-size: 1.2rem;
}

form.NewRest div {
  text-align: center;

  button {
    border-radius: 50%;
    background-color: $button-color;
    color: $button-text;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
}

section.diet {
  color: $button-text;
  label {
    margin-top: 20px;
    font-size: 1.2rem;
  }
}

.Restaurants select {
  background-color: $background-color;
}

p.back {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: underline;
}

// All Links Colors and hover
a {
  color: #141414;
}

a :hover {
  color: $accent-color;
  text-decoration: none;
}

// Reviews Page
.allReviews {
  list-style: none;
  text-align: left;
  h1 {
    font-size: 30px;
    text-align: center;
  }
}
ul.reviews {
  padding: 0px;
  margin: 10px;
}

.reviews {
  list-style: none;
  text-align: center;

  .summary {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .body {
    padding-bottom: 10px;
  }
}

.backReview {
  background-color: $background-color;
  margin: 0px auto;
  text-decoration: underline;
  width: fit-content;
  font-size: 20px;
}

.reviews li {
  margin-top: 20px;
  background-color: $background-color;
  border-top: thin solid $accent-color;
}

.allReviews button {
  border-radius: 50%;
  background-color: $button-color;
  color: $button-text;
  padding: 10px;
  margin-left: 10px;
}

// New Review
.review-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.658);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newReview {
  background-color: $modal-color;
  width: 80vw;
  height: 63vh;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-top: 15px;
  border: thin solid $accent-color;

  p {
    color: $button-text;
    font-size: 20px;
  }

  fieldset {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    color: $button-text;

    margin-top: 0px;

    textarea {
      background-color: $background-color;
    }

    .submit {
      padding: 5px;
      border-radius: 2rem;
      width: 10rem;
      margin-bottom: 4px;
    }
    p.home {
      font-size: 23px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.newReview div {
  font-size: 15px;
  color: $button-text;
  margin-bottom: 2px;
}

// About Me
div.about {
  margin: 0px auto;
  color: $button-text;

  div {
    display: flex;
    flex-direction: row;
  }

  p {
    background-color: $background-color;
    text-align: center;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30%;
    margin: 0px auto;
    margin-top: 40px;
  }
  figure {
    margin-right: 20px;
    img {
      margin: 0px auto;
      height: 12rem;
      border-radius: 30%;
      border: solid thin $accent-color;
    }

    figcaption {
      text-align: center;
      background-color: $background-color;
      border-radius: 30%;
    }
  }

  img.git {
    height: 40px;
    margin: 20px;
    background-color: $background-color;
  }

  img.linkedin {
    height: 40px;
    margin: 20px;
    background-color: $background-color;
  }
}

@media only screen and (min-width: 550px) {
  body {
    background-size: cover;
    background-repeat: none;
  }
  .newReview {
    width: 90vw;
    height: 60vh;
  }

  form.NewRest .TextField input,
  textarea {
    padding: 0.75em 0.75em;
    margin: 5px;
    width: 30rem;
  }

  .newReview fieldset p.home {
    font-size: 20px;
  }

  .Restaurants ul.results {
    width: 40rem;
    margin: 0px auto;
  }
  .RandomRest {
    width: 40rem;
    margin: 0px auto;
  }
  .about {
    width: 40rem;
    margin: 0px auto;
  }
}
