@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Fascinate&family=Raleway&display=swap');

$button-color: rgba(235, 171, 162, 0.76);
$button-text: rgb(75, 75, 75);
$accent-color: rgb(196, 151, 146);
$background-color: #edededc7;

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url(MainImage.jpg);
  background-size: 600px;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}
// Header for App
.AppName {
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  height: 30px;
  font-family: 'Fascinate', cursive;
  color: rgb(97, 96, 96);
  text-shadow: 1px 1px rgb(241, 214, 210);
}

// Body Description for Home
.Intro {
  text-align: center;
  margin: 200px 30px;
  background-color: #ededed73;
}

nav {
  display: block;
  position: relative;
  top: -25px;
  left: 10px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}
header nav li {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
  font-family: 'Raleway', sans-serif;
}
nav li:hover {
  color: rgb(196, 151, 146);
}

nav input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

nav span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: rgb(196, 151, 146);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

nav span:first-child {
  transform-origin: 0% 0%;
}

nav span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
nav input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(196, 151, 146);
}

/*
 * But let's hide the middle one.
 */
nav input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
nav input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
header ul {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed00;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header ul li {
  padding: 10px 0;
  font-size: 22px;
  background-color: #ededede8;
}

/*
 * And let's slide it in from the left
 */
nav input:checked ~ ul {
  transform: none;
}

header {
  display: block;
  position: sticky;
  top: 10px;
  // bottom: 0;
  // left: 0;
  // right: 0;
  background: linear-gradient(transparent, #ededed);
  z-index: 1;
}

// Body For Random
input {
  margin: 5px;
  width: 130px;
  text-align: center;
  background-color: #edededb2;
  margin-top: 20px;
}

aside {
  text-align: center;
  margin: 0px auto;
  select {
    background-color: #edededb2;
  }
}

button.Random {
  border-radius: 50%;
  background-color: $button-color;
  color: rgb(75, 75, 75);
  margin-top: 10px;
  padding: 5px;
}

section.RandomRest {
  text-align: center;
  background-color: #edededab;
  p,
  address {
    font-size: 15px;
  }
}

footer {
  text-align: center;
}

h2 {
  font-size: 25px;
}

// .Map {
//   background-color: white;
//   padding: 100px;
//   margin-right: 20px;
//   margin-left: 20px;
// }

// Stars
.stars {
  --rating: 4.5;
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  margin-right: 20px;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    $accent-color var(--percent),
    $button-text var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Body for Restaurants
.Restaurants ul {
  padding: 0px;
}

.Restaurants li {
  border-top: thin solid rgba(235, 171, 162, 0.568);
  margin-top: 15px;
  text-align: center;
  list-style: none;
  background-color: #edededc7;
}

.Restaurants a h2 {
  text-decoration: underline;
  color: rgb(2, 2, 100);
}

div.Search {
  text-align: center;
}

div.Restaurants button {
  border-radius: 50%;
  background-color: $button-color;
  color: $button-text;
  padding: 5px;
}

// Creating white space for a scroll on large view
div.Restaurants {
  max-height: rem;
  overflow-y: scroll;
  position: relative;
}

// New Restaurant Page
form.NewRest {
  background-color: #edededab;
  width: fit-content;
  margin: 0px auto;
  color: rgb(85, 84, 84);

  textarea {
    background-color: #edededb6;
  }

  section,
  h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

form.NewRest .TextField input,
textarea {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  padding: 0.25em 0.5em;
  margin: 5px;
  align-items: stretch;
  width: 20rem;
  text-align: center;
  font-size: 1.1rem;
}

section.Checked input {
  align-items: center;
  margin-top: 0px;
}

section.Checked label {
  font-size: 1.2rem;
}

form.NewRest div {
  text-align: center;

  button {
    border-radius: 50%;
    background-color: $button-color;
    color: $button-text;
    padding: 10px;
    margin-bottom: 40px;
  }
}
.Restaurants select {
  background-color: $background-color;
}

// All Links Colors and hover
a {
  color: #141414;
}

a :hover {
  color: $accent-color;
  text-decoration: none;
}

// New Review
.review-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.658);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 550px) {
  body {
    background-size: cover;
    background-repeat: none;
  }
}
